.logo{
    position: absolute;
}
.navbar{
    background: url('../img/back/4.png') ;
    background-size: 2550px;
    background-color:#ffffff ;

}
.backmain{
    background: url('../img/back/verde.webp') no-repeat ;
    background-size: 1820px 1300px ;
}
.desktop {
    display: block;
    /* ou inline, inline-block */
  }
  
  .mobile {
    display: none;
  }
  
  @media(max-width: 480px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
      /* ou inline, inline-block */
    }
  }